<launch>

    <arg name="record" default="false"/>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    </include>

    <node
	pkg="turtlebot_walker"
	name="turtlebot_walker"
	type="turtlebot_walker"
	output="screen"
	launch-prefix="gnome-terminal --command"
    />

    <node
	pkg="rosbag"
	name="record"
	type="record"
	args="-a -x /camera/(.*) -O $(find turtlebot_roomba)/results/	     turtlebotRecord.bag"
	if="$(arg record)"
     />

</launch>
